
.itemsdetail{
    display: flex;
}
.itemsdetail_img{
  margin-left: -160px;
    width: 500px;
}
.ItemsProduct{
    width: 400px;
}
.contaideitems{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &_Items{
        font-size: 20px;
        color:  #939393;
        margin: 15px;
        margin-left: -20px;
    }
  

 
    &-text{
        width: 150px;
        margin-top: 5px;
    }

}
.ItemsProduct_Items_itm{
    font-size: 30px;
    color: #79c953;
    display: inline-block;
    margin-left: 110px;
}